.date-input input[type="date"]::-webkit-inner-spin-button,
.date-input input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.MuiPaper-root{
    background-color: transparent;
}